@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	width: 425px;
	height: 643px;
	font-family: "Montserrat";
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	scroll-snap-type: proximity;
	color: #0c5012;
}

/* footer */

footer {
	display: flex;
	width: 97%;
	background-color: #b1edb3;
	padding: 5px 0;
	justify-content: space-evenly;
	gap: 2rem;
	border-radius: 25px;
	margin: 10px 10px;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	z-index: 1000;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.m {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 7rem;
	margin-left: 1rem;
	border: none;
}

.m img {
	height: min-content;
	width: 29px;
}
.b1 {
	display: flex;
	justify-content: center;
	text-align: center;
	z-index: 0;
}
.b1 img {
	height: 120px;
	width: 120px;
}

.b1 button {
	background-color: #ffffff;
	border: none;
}
